<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ibt.com.tapizy">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-sdk tools:overrideLibrary="android.support.dynamicanimation" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.recent_chat.RecentChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.CreateProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.explore.ExploreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.chatbot_activity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="screen"
                    android:scheme="tapizy" />
            </intent-filter>
        </activity>
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <!--<activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.TapizyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
        </activity>-->
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.chatbot_activity.CreateConversationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ibt.com.tapizy.otp_verification.OtpVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="ibt.com.tapizy.utils.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.community_module.CommunityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.trending_module.TrendingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.trending_module.NewPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.trending_module.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.trending_module.VideoGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.trending_module.VideoTrimerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.trending_module.PostDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.explore.BotListActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ibt.com.tapizy.ui.activity.user_activities.community_module.CityListActivity" />
        <activity android:name="ibt.com.tapizy.ui.activity.user_activities.community_module.PostQuestionActivity" />
        <activity android:name="ibt.com.tapizy.ui.activity.user_activities.WebviewActivity" />
        <activity
            android:name="ibt.com.tapizy.ui.activity.user_activities.CreateBotActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="ibt.com.tapizy.ui.activity.bot_activities.BotHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.activity.bot_activities.BotChatConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.activity.bot_activities.BotProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.user_activities.UserProfileAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.user_activities.QrCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.TermsPolicyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <receiver android:name="ibt.com.tapizy.otp_verification.MySMSBroadCastReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4f92de69364db81c0b98762d88b4025811aba6e8" />
    </application>
</manifest>